
#slogan {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
}

#main-icon {
    font-family: bloipFont;
    text-align: center;
}

#main-center-div {
    text-align: center;
    font-family: bloipFont;
    /*padding-left: 50px;
    padding-right: 50px;*/
    min-height: 900px;
}

#main-form {
    display: inline-block;
}

#profitability-switch {
    margin-bottom: 5px;
}

.select-control {
    text-align: center;
    width: 320px;
    font-size: 1.5em;
    font-family: bloipFont;
    margin-bottom: 10px;
}
.select-control-mobile {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-family: bloipFont;
    margin-bottom: 10px;
}

label {
    font-size: 1.5em;
}

.input-control {
    text-align: center;
    width: 320px;
    font-size: 1.5em;
    font-family: bloipFont;
}
.input-control-mobile {
    text-align: center;
    font-size: 1.5em;
    font-family: bloipFont;
    width: 100%;
}

#search-button {
    font-size: 1.5em;
    font-family: bloipFont;
    margin-top: 15px;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: black;
    border: 0.5px solid black;
}
#search-button:hover {
    cursor: pointer;

}
.home-page-option {
    text-align: center;
    border: 0.5px solid gray;
    border-radius: 5px;
    /*width: 350px;*/
    display: inline-block;
    padding: 20px;
    /*box-shadow: 2.5px 5px mediumpurple;*/
}
.home-page-option-mobile {
    text-align: center;
    /*border: 0.5px solid gray;
    border-radius: 5px;*/
    display: inline-block;
    padding: 20px;
}
#results-table {
    display: inline-block;
    /*min-width: 1000px;
    border: 1px solid green;*/
}
#results-table tr {
    /*width: 1500px;
    border: 1px solid red;*/
}
#results-table th {
    padding: 15px;
}
#results-table td {
    padding: 15px;
    width: 185px;
}
#results-table tr:nth-child(even){background-color: #f3ccff;}
#results-table-header {
    background-color: purple;
    color: white;
}

/** Financials table **/
#financials-table {
    display: inline-block;
    /*min-width: 1000px;
    border: 1px solid green;*/
}
#financials-table tr {
    /*width: 1500px;
    border: 1px solid red;*/
}
#financials-table th {
    padding: 15px;
}
#financials-table td {
    padding: 15px;
    width: 185px;
}
#financials-table tr:nth-child(even){background-color: #f3ccff;}
#financials-table-header {
    background-color: purple;
    color: white;
}

.results-table-mobile {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#pagination-buttons {
    margin-top: 40px;
}

.mobile-rule {
    border-color: purple;
}

#unsupported-container {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
    font-size: 1.5em;
}

/* Switch -------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    /*background-color: #2196F3;*/
    background-color: purple;
}
input:focus + .slider {
    /*box-shadow: 0 0 1px #2196F3;*/
    box-shadow: 0 0 1px purple;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* End switch -----------------------------*/
