<!DOCTYPE html>
<html layout:decorate="~{layouts/main.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
<th:block layout:fragment="content">
    <div id="slogan">
        <H1 id="main-icon">Error</H1>
    </div>
    <HR/>

    <div id="main-center-div">
        <div style="display: inline-block">
            An error has occurred. Let us know on Twitter @BloipApp
        </div>

    </div>
</th:block>

</body>
</html>