<!DOCTYPE html>
<html layout:decorate="~{layouts/main.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" href="/app.css">
        <script type="text/javascript">
            function init() {
                var stash           = document.getElementById("stash");
                var profitability   = stash.getAttribute("profitability");
                var timeWindow      = stash.getAttribute("timeWindow");
                var volatilityLimit = stash.getAttribute("volatilityLimit");
                var orderDescending = stash.getAttribute("orderDescending");

                document.getElementById("profitability").value    = profitability;
                document.getElementById("time_window").value      = timeWindow;
                document.getElementById("volatility_limit").value = volatilityLimit;
                document.getElementById("order_descending").value = orderDescending;
                console.log("P: " + profitability +", timeWindow: " + timeWindow +", volatilityLimit: " + volatilityLimit);
            }
        </script>
    </head>
    <body onload="init();">
        <th:block layout:fragment="content">
            <div id="slogan">
                <H1 id="main-icon">Sort the stock market!</H1>
            </div>
            <span id="stash" style="display: none" th:attr="ticker=${ticker},timeWindow=${timeWindow},profitability=${profitability}, volatilityLimit=${volatilityLimit}, orderDescending=${orderDescending}"></span>
            <div id="main-center-div">
                    <div th:insert="~{fragments/search-filter.html :: search-filter}"></div>
                    <BR/>

                    <BR/>

                    <div>
                        <table id="results-table" th:if="${isNotMobile}">
                            <thead>
                                <tr id="results-table-header">
                                    <th></th>
                                    <th>Gain(%)</th>
                                    <!--<th>VolumeΔ(%)</th>-->
                                    <th>Worst Day(%)</th>
                                    <th>Best Day(%)</th>
                                    <th>Profit (%)</th>
                                    <th>Cash Burn(%)</th>
                                    <th>Debt (%)</th>
                                </tr>
                            </thead>
                            <tr th:each="s: ${stocks}">
                                <td><a th:href="${'/ticker/' +s.ticker}" th:text="${s.ticker}"/></td>
                                <td th:text="${s.windowDelta}" />
                                <td th:text="${s.minDelta}"/>
                                <td th:text="${s.maxDelta}" />
                                <td th:text="${s.profitMargin}"/>
                                <!--<td th:text="${s.volumeDelta}" th:style="${s.volumeDelta < 0} ?'color: red; font-weight: bolder;' : ''"/>-->
                                <td th:if="${s.cashBurnRate} == -100" th:text="'NO CASH'" style="color: red; font-weight: bolder;" />
                                <td th:unless="${s.cashBurnRate} == -100" th:text="(${s.cashBurnRate} == null OR ${s.cashBurnRate} > 0) ? '': ${s.cashBurnRateMag}" th:style="${s.flagBurnRate} ?'color: red; font-weight: bolder;' : ''"/>
                                <td th:text="${s.debtRatio}" th:style="${s.flagDebtRatio} ?'color: red; font-weight: bolder;' : ''" />
                            </tr>
                        </table>
                        <div th:unless="${isNotMobile}" style="text-align: center;">
                            <HR class="mobile-rule"/>
                            <div th:each="s: ${stocks}" style="text-align: center; display: inline-block;" class="results-table-mobile">
                                <div><a th:href="${'/ticker/' + s.ticker}" th:text="${s.ticker}"></a></div>
                                <div>Total Gain: <span th:text="${s.windowDelta}" /><span>%</span></div>
                                <div>Worst Day: <span th:text="${s.minDelta}" /><span>%</span></div>
                                <div>Best Day: <span th:text="${s.maxDelta}" /><span>%</span></div>
                                <th:block th:if="${s.profitMargin} != null">
                                <div>Profit Margin: <span th:text="${s.profitMargin}" /><span>%</span></div>
                                    <div style="color: red; font-weight: bolder;" th:if="${s.flagDebtRatio}">Debt: <span th:text="${s.debtRatio}"  /><span>%</span></div>
                                    <div th:unless="${s.flagDebtRatio}">Debt: <span th:text="${s.debtRatio}"/><span th:if="${s.debtRatio != null}">%</span></div>

                                    <div th:if="${s.cashBurnRate} == -100" style="color: red; font-weight: bolder;">
                                        Cash burn: NO CASH
                                    </div>
                                    <div th:unless="${s.cashBurnRate} == -100">
                                        <th:block th:if="${s.cashBurnRate != null && s.cashBurnRate < 0}">
                                            Cash burn: <span th:text="(${s.cashBurnRate} == null OR ${s.cashBurnRate} > 0) ? '': ${s.cashBurnRateMag}" th:style="${s.flagBurnRate} ?'color: red; font-weight: bolder;' : ''" />
                                            <span>%</span>
                                        </th:block>
                                    </div>
                                </th:block>
                                <HR class="mobile-rule"/>
                            </div>
                        </div>
                    </div>

                    <div id="pagination-buttons">
                        <form th:if="${back != null}" action="/" method = "GET" style="display: inline-block;">
                            <input type="hidden" name="start" th:value="${back}">
                            <input type="hidden" name="time_window" th:value="${timeWindow}">
                            <input type="hidden" name="volatility_limit" th:value="${volatilityLimit}">
                            <input type="hidden" name="profitability" th:value="${profitability}">
                            <input type="hidden" name="order_descending" th:value="${orderDescending}">
                            <button> < </button>
                        </form>
                        <form th:if="${next != null}" action="/" method = "GET" style="display: inline-block;">
                            <input type="hidden" name="start" th:value="${next}">
                            <input type="hidden" name="time_window" th:value="${timeWindow}">
                            <input type="hidden" name="volatility_limit" th:value="${volatilityLimit}">
                            <input type="hidden" name="profitability" th:value="${profitability}">
                            <input type="hidden" name="order_descending" th:value="${orderDescending}">
                            <button> > </button>
                        </form>
                    </div>

                </div>
        </th:block>

    </body>
</html>