<!DOCTYPE html>
<html layout:decorate="~{layouts/main.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" href="/app.css">
        <script type="text/javascript">
            function init() {
                if (document.getElementById("unsupported-container")) {
                    alert("Sorry! That stock is currently not providing us with standard US accounting information and is most likely a foreign company. We are working on integrating them. Please shoot us a message on Twitter telling us to hurry up!!!");
                }
                if (document.getElementById("notFound")) {
                    alert("No stock with that symbol can be found. Type the stock ticker or symbol (not the company name). Check your spelling. Send us a message on Twitter if you are sure you spelt the ticker correctly.")
                }
            }
        </script>
    </head>
    <body onload="init();">
        <th:block layout:fragment="content">
            <div id="slogan">
                <H1 id="main-icon">Sort the stock market!</H1>
            </div>

            <div id="main-center-div">
                <H2 th:text="${ticker}"></H2>
                <div style="margin-top: 20px; margin-bottom: 15px;">
                    <a href="/"><button> < </button></a>
                </div>

                <div>
                    <div id="unsupported-container" th:if="${unsupported}">
                    </div>
                    <th:block th:unless="${unsupported}">
                        <table id="results-table">
                            <thead>
                            <tr id="results-table-header">
                                <th>Days</th>
                                <th>Gain (%)</th>
                                <th>VolumeΔ (%)</th>
                                <th>High (%)</th>
                                <th>Low (%)</th>
                            </tr>
                            </thead>
                            <tr th:each="s: ${stocks}">
                                <td th:text="${s.timeWindow}" />
                                <td th:text="${s.windowDelta}" />
                                <td th:text="${s.volumeDelta}" />
                                <td th:text="${s.maxDelta}" />
                                <td th:text="${s.minDelta}" />
                            </tr>
                        </table>
                        <BR/>
                        <BR/>

                        <div style="font-size: 1.5em; color: purple;">Financials</div><BR/>

                        <table id="financials-table">
                            <thead>
                            <tr id="financials-table-header">
                                <th>Profit (%)</th>
                                <th>Debt (%)</th>
                                <th>Burn (%)</th>
                            </tr>
                            </thead>
                            <tr>
                                <td th:text="${profitMargin}" />
                                <td th:text="${debtRatio}" th:style="${flagDebtRatio} ?'color: red; font-weight: bolder;' : ''" />

                                <td th:if="${cashBurnRate} == -100" th:text="'NO CASH'" style="color: red; font-weight: bolder;" />
                                <td th:unless="${cashBurnRate} == -100" th:text="(${cashBurnRate} == null OR ${cashBurnRate} > 0) ? '': ${cashBurnRateMag}" th:style="${flagBurnRate} ?'color: red; font-weight: bolder;' : ''"/>
                            </tr>
                        </table>

                        <th:block th:if="${cashBurnRate} == -100">
                            <BR/>
                            <BR/>
                            <div style="width: 50%; display: inline-block; margin-bottom: 30px;">
                                <span style="color: red; font-size: 1.5em;">WARNING</span><BR/>
                                This company has used up all of its available short term cash or current assets.
                            </div>
                        </th:block>

                        <th:block th:if="${cashBurnRate} < -100">
                            <BR/>
                            <BR/>
                            <div style="width: 50%; display: inline-block; margin-bottom: 30px;">
                                <BR/><span style="color: red; font-size: 1.5em;">WARNING</span><BR/>
                                This company is projected to burn all of their cash and/or short term assets if they don't change course.
                            </div>
                        </th:block>

                        <!--<div th:unless="${isNotMobile}">
                            <HR class="mobile-rule"/>
                            <div th:each="s: ${stocks}">
                                <table class="results-table-mobile">
                                    <tr><td>Window (Days)</td><td th:text="${s.timeWindow}" /></tr>
                                    <tr><td>Total Gain (%)</td><td th:text="${s.windowDelta}" /></tr>
                                    <tr><td>Volume Change (%)</td><td th:text="${s.volumeDelta}" /></tr>
                                    <tr><td>Worst Day (-%)</td><td th:text="${s.minDelta}" /></tr>
                                    <tr><td>Best Day (+%)</td><td th:text="${s.maxDelta}" /></tr>
                                    <tr><td>Profit (%)</td><td th:text="${s.profitMargin}" /></tr>

                                    <tr th:if="${s.flagDebtRatio}" style="color: red; font-weight: bolder;"><td>Debt(%)</td><td th:text="${s.debtRatio}"  /></tr>
                                    <tr th:unless="${s.flagDebtRatio}"><td>Debt(%)</td><td th:text="${s.debtRatio}"/></tr>

                                    <tr th:if="${s.cashBurnRate} == -100" style="color: red; font-weight: bolder;">
                                        <td>Cash burn (%)</td>
                                        <td>NO CASH</td>
                                    </tr>
                                    <tr th:unless="${s.cashBurnRate} == -100">
                                        <td>Cash burn (%)</td>
                                        <td th:text="${s.cashBurnRate}" />
                                    </tr>
                                </table>
                                <BR/>
                                <HR class="mobile-rule"/>
                            </div>
                        </div>-->
                        <span id="notFound" style="display: none" th:if="${notFound}"/>
                    </th:block>
                </div>
            <HR id="ticker-rule" style="width: 50%; display: inline-block"/>
            </div>
        </th:block>

    </body>
</html>